/* ul dropdown  */

.dropdown-button{
    border: none;
    background-color: white;
  }
  
  .dropdown-item{
    color: black !important;
    cursor: pointer;
  }
  
  .dropdown-item:hover{
    color: white !important;
  }
  
  .enable-item{
    color: blue !important;
    cursor: pointer;
  }
  
  .enable-item:hover{
    color: white !important;
  }
  
  .disable-item{
    color: red !important;
    cursor: pointer;
  }
  
  .disable-item:hover{
    color: white !important;
  }