

<div class="container">
    <div class="container py-5">
        <div class="card-header">
            <div class="row">
                <div class="col-md">
                    <span class="btn-return" (click)="redirect(['product'])">
                        <i class="ph ph-arrow-circle-left icon-text-button"></i>
                        Regresar
                    </span>
                </div>
                
                <div class="col-md d-flex justify-content-end">
                    <span class="edit-product" (click)="updateCustomer()">
                        <i class="ph ph-note-pencil icon-text-button"></i>
                        Editar cliente
                    </span>
                </div>
            </div>
        </div>

      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="{{ customer.image.image != '' ? customer.image.image: 'assets/img/no_logo.webp' }}" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
                <div class="edit-customer-image text-center">
                    <label for="uploadImage" class="cursor-pointer">
                        <input type="file" (change)="fileChangeHandler($event)" id="uploadImage" style="display:none">
                        <i class="ph ph-note-pencil icon-text-button"></i>
                        Editar imagen
                    </label>
                </div>
                
              <h5 class="my-3">
                <!-- name  -->
                <div class="customer-title">
                    {{ customer.name + " " + customer.surname }}
                </div></h5>
              <p class="text-muted mb-1">Full Stack Developer</p>
              <p class="text-muted mb-4">{{ customer.address }}</p>
              <div class="d-flex justify-content-center mb-2">
                <button type="button" class="btn btn-primary">Ver Pedidos</button>
              </div>
            </div>
          </div>
          <div class="card mb-4 mb-lg-0">
            <div class="card-body p-0">
              <ul class="list-group list-group-flush rounded-3">
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fas fa-globe fa-lg text-warning"></i>
                  <p class="mb-0">https://chatosproject.com</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                  <p class="mb-0">chatos-project</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                  <p class="mb-0">@chatos-project</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                  <p class="mb-0">chatosproject</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                  <p class="mb-0">chatosprojet</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Nombre completo</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ customer.name + " " + customer.surname }}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Correo electrónico</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ customer.name + " " + customer.surname }}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">RFC</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{customer.rfc}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Region</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{region.region}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Dirección</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{customer.address}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="card mb-4 mb-md-0">
                <div class="card-body">
                  <p class="mb-4"><span class="text-primary font-italic me-1">assigment</span> Project Status
                  </p>
                  <p class="mb-1" style="font-size: .77rem;">Web Design</p>
                  <div class="progress rounded" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p class="mt-4 mb-1" style="font-size: .77rem;">Website Markup</p>
                  <div class="progress rounded" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: 72%" aria-valuenow="72"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p class="mt-4 mb-1" style="font-size: .77rem;">One Page</p>
                  <div class="progress rounded" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: 89%" aria-valuenow="89"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p class="mt-4 mb-1" style="font-size: .77rem;">Mobile Template</p>
                  <div class="progress rounded" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p class="mt-4 mb-1" style="font-size: .77rem;">Backend API</p>
                  <div class="progress rounded mb-2" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card mb-4 mb-md-0">
                <div class="card-body">
                  <p class="mb-4"><span class="text-primary font-italic me-1">assigment</span> Project Status
                  </p>
                  <p class="mb-1" style="font-size: .77rem;">Web Design</p>
                  <div class="progress rounded" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p class="mt-4 mb-1" style="font-size: .77rem;">Website Markup</p>
                  <div class="progress rounded" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: 72%" aria-valuenow="72"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p class="mt-4 mb-1" style="font-size: .77rem;">One Page</p>
                  <div class="progress rounded" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: 89%" aria-valuenow="89"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p class="mt-4 mb-1" style="font-size: .77rem;">Mobile Template</p>
                  <div class="progress rounded" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p class="mt-4 mb-1" style="font-size: .77rem;">Backend API</p>
                  <div class="progress rounded mb-2" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>


<!-- Modal form  -->
  
<div class="modal fade" data-bs-backdrop="static" tabindex="-1" role="dialog" id="modalForm">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Registrar cliente</h5>
          <button type="button" class="modal-close-button" data-bs-dismiss="modal" aria-label="Close">
            <span class="modal-close-button-x">&times;</span>
          </button>
        </div>
        <div class="modal-body">
  
          <!-- form  -->
  
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
  
            
            <div class="row">

                <!-- name  -->

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">Nombre <span class="color-red">*</span> </label>
                        <input type="text" class="form-control" formControlName="name" id="name" placeholder="Nombre del cliente..." 
                            [ngClass]="{'is-invalid': form.controls['name'].errors && submitted}" >
                        <div *ngIf="form.controls['name'].errors && submitted">
                            <small class="color-red">Favor de ingresar un nombre válido</small>
                        </div>
                    </div>
                </div>
      
                <!-- surname  -->
      
                <div class="col-md-6"> 
                    <div class="form-group">
                    <label for="surname">Apellidos <span class="color-red">*</span> </label>
                    <input type="text" class="form-control" formControlName="surname" id="surname" placeholder="Apellidos del cliente..." 
                        [ngClass]="{'is-invalid': form.controls['surname'].errors && submitted}" >
                    <div *ngIf="form.controls['surname'].errors && submitted">
                        <small class="color-red">Favor de ingresar apellidos válidos</small>
                    </div>
                    </div>
                </div>
      
                <!-- rfc  -->
      
                <div class="col-md-6"> 
                    <div class="form-group">
                    <label for="rfc">RFC <span class="color-red">*</span> </label>
                    <input type="text" class="form-control" formControlName="rfc" id="rfc" placeholder="RFC del cliente..." 
                        [ngClass]="{'is-invalid': form.controls['rfc'].errors && submitted}" >
                    <div *ngIf="form.controls['rfc'].errors && submitted">
                        <small class="color-red">Favor de ingresar un rfc válido</small>
                    </div>
                    </div>
                </div>
      
                <!-- mail  -->
      
                <div class="col-md-6"> 
                    <div class="form-group">
                    <label for="mail">Correo electrónico <span class="color-red">*</span> </label>
                    <input type="text" class="form-control" formControlName="mail" id="mail" placeholder="Correo electrónico del cliente..." 
                        [ngClass]="{'is-invalid': form.controls['mail'].errors && submitted}" >
                    <div *ngIf="form.controls['mail'].errors && submitted">
                        <small class="color-red">Favor de ingresar un correo electrónico válido</small>
                    </div>
                    </div>
                </div>  
      
                <!-- region_id  -->
      
                <div class="col-md-6"> 
                    <div class="form-group">
                      <label for="region_id">Región <span class="color-red">*</span> </label>
                      <select class="form-select" formControlName="region_id" id="region_id"
                          [ngClass]="{'is-invalid': form.controls['region_id'].errors && submitted}">
                          <option [ngValue]=null hidden>Selecciona una región...</option>
                          <ng-container *ngFor="let region of regions" >
                              <option *ngIf="region.status == 1" [ngValue]="region.region_id">{{ region.region }}</option>
                          </ng-container>
                      </select>
                      <div *ngIf="form.controls['region_id'].errors && submitted">
                          <small class="color-red">Favor de seleccionar una región válida</small>
                      </div>
                    </div>
                </div>
      
                <!-- address  -->
      
                <div class="form-group">
                  <label for="address">Dirección <span class="color-red">*</span> </label>
                  <textarea rows="2" class="form-control" formControlName="address" id="address" placeholder="Dirección del cliente..." 
                    [ngClass]="{'is-invalid': form.controls['address'].errors && submitted}" >
                  </textarea>
                  <div *ngIf="form.controls['address'].errors && submitted">
                    <small class="color-red">Favor de ingresar una dirección válida</small>
                  </div>
                </div>
            </div>
  
            <!-- button  -->
            
            <div class="form-button">
              <button type="submit" class="btn btn-primary btn-form">Guardar</button>
            </div>
  
          </form>
        </div>
      </div>
    </div>
  </div>